{
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "airbnb"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "prettier"],
  "ignorePatterns": ["tailwind.config.js", "**/libs/*"],
  "rules": {
    "semi": ["error", "never"],
    "import/extensions": "off",
    "react/prop-types": "off",
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
