{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@next/next/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "airbnb-typescript",
    "prettier"
  ],
  "env": {
    "node": true,
    "es6": true,
    "jest": true,
    "browser": true
  },
  "parserOptions": {
    "project": ["tsconfig.json"],
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["react", "prettier", "@typescript-eslint", "jest"],
  "ignorePatterns": ["tailwind.config.js", "**/libs/*"],
  "rules": {
    "semi": ["error", "never"],
    "import/prefer-default-export": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/extensions": "off",
    "implicit-arrow-linebreak": "off",
    "react/prop-types": "off",
    "@next/next/no-img-element": "off",
    "react/no-danger": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-indent": [2, 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": "error"
  }
}
